@import '../../../assets/fonts/index.css';
.circle-chart-number-box {
    font-size: 24px;
    color: #747582;
    width: 130px;
    height: 100px;
    display: flex;
    align-items: baseline;
    .number {
        width: 100px;
        color: #fff;
        font-size: 76px;
        font-family: DINCond-Black;
    }
    .util {
        padding-left: 5px;
    }
}
.circle-chart-time-box {
    font-size: 24px;
    color: #747582;
}
