@import '../../../../assets/fonts/index.css';

.wrapper {
    border-top: 1px solid rgba($color: #f2f2f2, $alpha: 0.2);
    padding: 50px 32px 0;
    .headText {
        display: flex;
        align-items: center;
        background: #393c3d;
        border-radius: 16px;
        padding: 28px 0;
        margin-bottom: 20px;
        .item {
            flex: 1 0 auto;
            text-align: center;
            color: #fff;
            .num {
                font-family: DINCond-Black;
                font-size: 56px;
                margin-bottom: 10px;
            }
        }
    }
}
