.wrapper {
    .fraction-box {
        width: 249px;
        margin: auto;
        padding: 90px 0 100px;
        display: flex;
        .fb-left {
            .num {
                font-size: 100px;
                color: #23cfe2;
            }
            .util {
                font-size: 60px;
                color: #23cfe2;
            }
            .fbl-txt {
            }
        }
    }
}
