.wrapper {
    .tabs {
        padding: 50px 32px 0;
        display: flex;
        justify-content: space-between;
        .tab {
            width: 212px;
            height: 108px;
            border-radius: 56px;
            background-color: #515151;
            color: #fff;
            text-align: center;
            padding-top: 15px;
            &.selectBg {
                background-color: #23cfe2;
            }
            p:nth-child(1) {
                font-size: 32px;
            }
            p:nth-child(2) {
                font-size: 24px;
            }
        }
    }

    .footerBtn {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: calc(env(safe-area-inset-bottom) +20px);
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding: 0 48px;
        div {
            height: 96px;
            line-height: 96px;
            text-align: center;
            border-radius: 48px;
            font-size: 36px;
        }
        .shareBtn {
            width: 416px;
            background: #23cfe2;
            color: #fff;
        }
        .goToTest {
            width: 214px;
            background: #fff;
            color: #0c0c0c;
            margin-right: 30px;
        }
    }
}
