.figureBox {
    display: flex;
    .modules {
        width: 50%;
        padding: 104px 0 80px;
        .figureImg {
            width: 246px;
            height: 604px;
            margin: auto;
            img {
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }
    }
    .font {
    }
}
