@import '../../../../assets/fonts/index.css';

.wrapper {
    border-top: 1px solid rgba($color: #f2f2f2, $alpha: 0.2);
    padding: 50px 32px 0;
    .title {
        font-size: 32px;
        color: #fff;
    }
    .grade-box {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 32px 0;
        .grade-item {
            flex: 1 0 0%;
            background: #000;
            margin-right: 20px;
            font-size: 24px;
            padding: 0 0 32px 0;
            color: rgba($color: #fff, $alpha: 0.5);
            &:last-child {
                margin-right: 0;
            }
            .num {
                color: #fff;
                font-size: 100px;
                font-family: DINCond-Black;
                margin-right: 10px;
            }
        }
    }
    .data-compar-box {
        padding: 32px 0;
        .time-box {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-around;
            font-size: 24px;
            .time-item {
                width: 216px;
                height: 80px;
                line-height: 42px;
                background: url('../../../../assets/img/time_bg.png') no-repeat center / 216px 80px;
                color: #18191d;
            }
        }
        .dcb-title {
            font-size: 32px;
            color: rgba($color: #fff, $alpha: 0.5);
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 50px;
                height: 1px;
                background: rgba($color: #fff, $alpha: 0.5);
            }
            &::before {
                margin-right: 20px;
            }
            &::after {
                margin-left: 20px;
            }
        }
        .dcb-category-box {
            position: relative;
            padding: 32px 0;
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                z-index: 1;
                transform: translateX(-50%);
                content: '';
                width: 10px;
                background: rgba($color: #fff, $alpha: 0.2);
                border-radius: 10px;
                display: block;
                box-shadow: 0 8px 16px rgba($color: #000000, $alpha: 0.2);
            }
            .dcb-item {
                position: relative;
                z-index: 2;
                padding-top: 40px;
                padding-bottom: 60px;
                &:last-child {
                    padding-bottom: 0;
                }
                .di-title {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 26px;
                    color: #fff;
                    background: #45474a;
                    display: inline-block;
                    padding: 0 20px;
                    line-height: 50px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }
                .di-list {
                    .dl-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 40px;
                    }
                    .dli-left,
                    .dli-right {
                        color: #fff;
                        width: 160px;
                        .dl-text {
                            display: inline-block;
                            text-align: center;
                            .num-box {
                                position: relative;
                                .symbol {
                                    position: absolute;
                                    right: -18px;
                                    top: -2px;
                                    width: 38px;
                                    height: 38px;
                                    display: inline-block;
                                    &.up {
                                        background: url('../../../../assets/img/up_icon.png') no-repeat center / 38px;
                                    }
                                    &.dow {
                                        background: url('../../../../assets/img/dow_icon.png') no-repeat center / 38px;
                                    }
                                }
                            }
                        }
                    }
                    .dli-left {
                        text-align: right;
                    }
                    .dli-right {
                        text-align: left;
                    }
                    .dli-line {
                        position: relative;
                        flex: 1 0 0%;
                        border-top: 2px dashed #45474a;
                        .dli-title {
                            position: absolute;
                            top: -23px;
                            left: 50%;
                            transform: translateX(-50%);
                            background: #18191d;
                            color: #45474a;
                            padding: 5px 10px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
