@import '../../../../assets/fonts/index.css';
.wrapper {
    border-top: 1px solid rgba($color: #f2f2f2, $alpha: 0.2);
    padding: 50px 32px 0;
    .title {
        font-size: 32px;
        color: #fff;
    }
    .grade-box {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 32px 0;
        .grade-item {
            flex: 1 0 0%;
            background: #000;
            margin-right: 20px;
            font-size: 24px;
            padding: 0 0 32px 0;
            color: rgba($color: #fff, $alpha: 0.5);
            &:last-child {
                margin-right: 0;
            }
            .num {
                color: #fff;
                font-size: 100px;
                font-family: DINCond-Black;
                margin-right: 10px;
            }
        }
    }
    .photo-box {
        display: flex;
        align-items: center;
        padding: 32px 0;
        .photo-item {
            flex: 1 0 0%;
            margin-right: 20px;
            text-align: center;
            background: #000;
            height: 442px;
            &:last-child {
                margin-right: 0;
            }
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
