.App {
    background-color: #121212;
    color: #000;
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 36px 0;
    }
    .text {
        font-size: 20px;
        color: #838383;
        margin-left: 96px;
    }
    .btn {
        width: 136px;
        height: 56px;
        line-height: 56px;
        border: 2px solid #fff;
        outline: none;
        text-align: center;
        border-radius: 28px;
        font-size: 24px;
        color: #fff;
        margin-right: 46px;
    }
    .dialogMask {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        background-color: #000;
        left: 0;
        bottom: 0;
        opacity: 0.3;
        &.isShow {
            display: block;
        }
    }
    .dialogContent {
        position: fixed;
        width: 100%;
        height: 55vh;
        bottom: -55vh;
        left: 0;
        z-index: 2;
        background-color: #fff;
        transition: 0.5s;
        &.upward {
            bottom: 0;
        }
        &.downward {
            bottom: -55vh;
        }
        .hd {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f9f9f9;
            font-size: 24px;
            color: #bbb;
            padding: 15px 30px 15px 40px;
            .closeBtn {
                width: 40px;
                height: 40px;
                line-height: 35px;
                font-size: 45px;
                text-align: center;
                color: #e8dede;
            }
        }
        .bd {
            overflow-y: auto;
            height: calc(55vh - 170px);
            .itm {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 40px 0;
                font-size: 32px;
            }
            .fs40 {
                font-size: 40px;
                color: #151515;
                font-weight: bold;
            }
            .empBlock {
                height: 40px;
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            div {
                height: 96px;
                line-height: 96px;
                font-size: 28px;
                text-align: center;
            }
            .remove {
                width: 208px;
                background: #fff;
                border: none;
                color: #21b8c5;
                border-top: 1px solid #eee;
            }
            .confirm {
                flex: 1;
                background: #21b8c5;
                border: none;
                color: #fff;
            }
        }
    }
    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #d8d8d8;
        box-shadow: none;
    }
    input:checked {
        border: 2px solid #21b8c5;
        background-color: #21b8c5;
    }
    input:checked::before {
        content: '';
        display: block;
        position: relative;
        width: 10px;
        height: 16px;
        left: 34%;
        top: 9%;
        border-right: 4px solid #fff;
        border-bottom: 4px solid #fff;
        transform: rotate(45deg);
        background: none;
    }
}
