.App {
    width: 100%;
    margin: auto;
    background-color: #2e3132;
    .tabsContain {
        margin-top: 10px;
        width: 100%;
        overflow-x: scroll;
        border-bottom: 1px solid hsla(0, 0%, 95%, 0.2);
        &::-webkit-scrollbar {
            display: none;
        }
        .tabs {
            width: 800px;
            height: 80px;
            display: flex;
            .tab {
                padding: 20px;
                color: #fff;
                font-size: 28px;
                position: relative;
                &.active {
                    color: #21b8c5;
                }
                .slip {
                    position: absolute;
                    margin: auto;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 32px;
                    height: 4px;
                    background-color: #21b8c5;
                }
            }
        }
    }
    .appContent {
    }
}
